<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='Index.css')}}">
    <script src="https://kit.fontawesome.com/f71df5ec62.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <input type="checkbox"  id="click">
        <label for="click" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Name</label>
        <ul>
            <li><a class="Home" href="#">Home</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
    </nav>
    <div class="name">
        <h1>All Games</h1>
    </div>
    <div class="games">
    <a href="{{url_for('Game',GameName='Catch The Gift')}}">Catch The Gift</a>
</div>
</body>
</html>
